.btn {
    width: 200px;
    margin: 2rem auto;
    border: 1px solid #444;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 2px;
    display: block;
}

.btn.active {
    background-color: #292;
}